<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>

    <title>Administrador</title>

    <!-- Custom fonts for this template-->
    <link href="/js/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>

    <!-- Custom styles for this template-->
    <link href="/js/sbadmin/css/sb-admin-2.min.css" rel="stylesheet"/>
    <style>
        a {
            color: black;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="/img/logomapet100.png" />
            </div>  
            <div class="col-5">
                <p class="text-right pt-3">
                    <span>Mapet - Clínica Veterinária</span><br />
                    <span><%=data%></span><br />
                </p>
            </div>
			<div class="col-5 ">
                <p class="text-right pt-3">
					<button id="btn-imprimir" class="btn btn-primary btn-md" style=" float:right;margin-right: 2%;" onClick="window.print()"><i class="fas fa-print"></i></button>
                </p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Data</th>
                        <th class="text-center" scope="col">Veterinário(a)</th>
                        <th class="text-center" scope="col">Dono</th>
                        <th scope="col">Pet</th>
                        <th class="text-left" scope="col">Conclusão</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < dados.length; i++) { %>
                    <tr>
                        <% var dia = dados[0].data.substring(8,10) %>
                        <% var mes = dados[0].data.substring(5,7) %>
                        <% var ano = dados[0].data.substring(0,4) %>
                        <% var hora = dados[0].data.substring(11,13) %>
                        <% var minutos = dados[0].data.substring(14,16) %>
                        <% var dataFinal = dia + "/" + mes + "/" + ano + " - " + hora + ":" + minutos %>
                        <td align="center"><%= dataFinal %></td>
                        <td align="center"><%= dados[i].nome_veterinario %></td>
                        <td align="center"><%= dados[i].nome_dono %></td>
                        <td><%= dados[i].nome_animal %></td>
                        <td align="left"><%= dados[i].conclusao %></td>
                    </tr>
                    <% } %>   
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="/js/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/js/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sbadmin/js/sb-admin-2.min.js"></script>
</body>
</html>